#mozdev-logo, #mozdev-date, #mozdev-navigation, #mozdev-fluff, #mozdev-fluff2, #content, #project-navigation, #mozdev-feedback {
	display: none;
}
html, body, #main-content {
	margin:0; padding:0; height:100%;
}
iframe {
	display:block; border:none; position: absolute;
	width:100%; height: 100%; top: 0px;
}
#mozdev-background-header {
	position: absolute; top: 0px; height: 12px; width: 100%;
        background-image: url(//www.mozdev.org/skin/tools/subsite_back.png);
        background-repeat: repeat-x;
}

