    </div>

    <p id="mozdev-feedback">

The {{ site.project }} project can be contacted through the <a href="http://www.mozdev.org/mailman/listinfo/{{ site.project }}">mailing list</a> or the <a href="/members.html">member list</a>.<br>

    <a href="http://www.mozdev.org/copyright.html">Copyright</a> &copy; 2000-2012. All rights reserved.
    <a href="http://www.mozdev.org/community/terms.html">Terms of Use</a> &amp;
    <a href="http://www.mozdev.org/community/privacy.html">Privacy Policy</a>.

	</p>
</body>
</html>
