{% capture pageid %}{{ page.url | remove_first:'/' | remove:'.html'}}{% endcapture %}
 </head>
 <body class="{{ pageid }} {{ site.project }} {{ site.project }}-{{ pageid }}" id="{{ site.project }}-mozdev-org">
  <!-- ################### BEGIN TOP ################## -->
	<h1 id="mozdev-logo"><a accesskey="0" href="http://www.mozdev.org/" tabindex="1" title="moved from mozdev.org">mozdev.org</a></h1>
	<div id="mozdev-date">
		<!--$mind-it-ignore$-->
		<ul id="community-links">
			<li class="mozdev-date"><a href="https://github.com/mjg/mozhub">MozHub</a></li>
			<li class="mozdev-fries">A former MozDev project now on GitHub</li>

		</ul>
		<!--$/mind-it-ignore$-->
	</div>
