<!--  ########################## BEGIN LEFT NAV ########################### -->
		<div id="mozdev-navigation">
			<!-- skip navigation -->
			<p class="invisible"><a class="nav-link" href="#content" title="Skip Navigation Entirely">Skip to Content</a></p>

			<div id="mozdev-donate">

				<ul>
				<li><strong><a href="http://www.mozdev.org/donation.html">Donate</a></strong></li>
				</ul>
			</div>
          
			<div id="mozdev-searchbox">
				<h4 id="search" title="Search">Search</h4>
				<!-- skip navigation -->
				<p class="invisible"><a accesskey="P" class="nav-link" href="#projects" title="Skip Search">Skip to Projects</a></p>

				<!-- Google search form -->
        <div id="cse-search-form" style="width: 100%;">Loading</div>
        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript"> 
          google.load('search', '1', {language : 'en'});
          google.setOnLoadCallback(function() {
            var customSearchControl = new google.search.CustomSearchControl('016161898132702128617:6wi5yvrlwqk');
            customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
            var options = new google.search.DrawOptions();
            options.enableSearchboxOnly("http://www.google.com/cse?cx=016161898132702128617:6wi5yvrlwqk");
            customSearchControl.draw('cse-search-form', options);
          }, true);
        </script>
        <link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
				<!-- /Google search form -->
			</div>

			<div id="mozdev-style"></div>

			<div class="menu" id="mozdev-projects">
				<h4 id="projects" title="Projects"><a href="http://www.mozdev.org/projects/nav.html">Projects</a></h4>
				<ul id="prj-ul">
				<li class="invisible"><a accesskey="R" class="nav-link" href="#nav-resources" title="Skip Projects">Skip to Resources</a></li>
				<li><a href="http://www.mozdev.org/projects/top50.html">Top 50 Projects</a></li>

				<li><a href="http://www.mozdev.org/projects/active.html">Active Projects</a></li>
				<li><a href="http://www.mozdev.org/projects/other.html">Other Projects</a></li>
				<!-- <li><a href="http://www.mozdev.org/categories/">Project Categories</a></li> -->
				<li class="mozdev-start-new-project"><a href="http://www.mozdev.org/start.html">Start a Project&#8230;</a></li>
				</ul>
			</div>

			<div class="menu" id="mozdev-resources">

				<h4 id="nav-resources" title="Resources"><a href="http://www.mozdev.org/resources/nav.html">Resources</a></h4>
				<ul id="res-ul">
				<li class="invisible"><a accesskey="M" class="nav-link" href="#community" title="Skip Resources">Skip to Community</a></li>
				<li><a href="https://www.mozdev.org/bugs/">Bug Tracking</a></li>
				<li><a href="http://www.mozdev.org/source/browse/">Source Hosting</a></li>
				<li><a href="http://www.mozdev.org/mailing-lists.html">Mailing Lists</a></li>

				<li><a href="http://www.mozdev.org/docs/">Documentation</a></li>
				<li class="mozdev-all-resources"><a href="http://www.mozdev.org/resources/">All Resources...</a></li>
				</ul>
			</div>

			<div class="menu" id="mozdev-community">
				<h4 id="community" title="Community"><a href="http://www.mozdev.org/community/nav.html">Community</a></h4>
				<ul id="com-ul">

				<li class="invisible"><a accesskey="C" class="nav-link" href="#content" title="Skip Community">Skip to Content</a></li>
				<li><a href="http://www.mozdev.org/about.html">About</a></li>
				<li><a href="http://www.mozdev.org/community/books.html">Books</a></li>
				<li><a href="http://www.mozdev.org/faq.html">FAQ</a></li>
				<li><a href="http://www.mozdev.org/community/jobs.html">Jobs</a></li>
				<!-- <li><a href="http://www.mozdev.org/community/links.html">Links</a></li> -->

				<li><a href="http://www.mozdev.org/community/logos.html">Logos</a></li>
				<li id="mozdev-shop"><a href="http://shop.mozdev.org/">Shop</a></li>
				<!-- <li><a href="http://www.mozdev.org/status/">Status Reports</a></li> -->
				<li><a href="http://www.mozdev.org/community/supporters.html">Supporters</a></li>
				</ul>
			</div>

	</div>

	<div id="mozdev-fluff"><b></b></div>

	<div id="mozdev-fluff2"><i></i></div>

<!-- ########################## END LEFT NAV ############################# -->
