<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% capture pageid %}{{ page.url | remove_first:'/' | remove:'.html'}}{% endcapture %}
<html lang="en">
 <head>
<title>{{ site.project }}: {{ pageid }}</title>
   <link href="//www.mozdev.org/skin/default/default.css" rel="Stylesheet" type="text/css">
   <link media="print" rel="Stylesheet" type="text/css" href="//www.mozdev.org/skin/default/print.css">
   <link rel="alternate" type="application/rss+xml" title="VCS Commits" href="/feed/vcslog">
   <link rel="alternate" type="application/rss+xml" title="Download files" href="/feed/download_file">
{% include head.txt %}
{% include html_body.html %}
<a href="https://github.com/{{ site.owner }}{{ site.baseurl }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub"></a>
{% include site_nav.html %}
<!-- ####################### BEGIN MAIN CONTENT ########################## -->
	 <div id="main-content">
{% include project_nav.html %}
{{ content }}
{% include footer.html %}
